@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* background-image: linear-gradient(#e93a00,#f7941e); */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {

    --color-1: #FBF9FE;
}

main {
    background-image: url(../img/fondoo.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

header {
    background-color: var(--color-1);
    background-position: center;
    display: flex;
    flex-direction: column;
}

.cajauno {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    margin: 20px 30px;
    height: 80px;
}


#buscador {
    margin-right: 100px;
}

.btn {
    background-color: #47038bf8;
    color: #FCFFE7;
    border: 0;
    padding: 5px;
    border-radius: 15px;
    margin-left: 10px;
}

#carrito img {
    height: 30px;
    margin: 30px;
    padding-right: 20px;
}

#menu {
    background-image: url(../img/fondoo.jpg);
    background-size: cover;
    background-position: center;
}

#menu nav {
    padding-left: 70px;
    padding-right: 30px;
}

#menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#menu li a {
    color: #000000;
    font-size: 15px;
}

/* MAIN */

#slider {
    position: relative;
    background-image: url(../img/slider2.jpg);
    background-size: cover;
    background-position: top;
    height: 490px;
}

#slider h1 {
    color: var(--color-1);
    font-size: 35px;
    text-align: center;
    text-shadow: 2px 2px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#pasos {
    background-color: var(--color-1);
    padding: 10px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.tarjetas {
    margin: 30px 0px;
}

.tarjetas img {
    height: 250px;
    width: 100%;
    border-radius: 5px 5px 3px 3px;

}

.tarjetas p {
    text-align: center;
    padding: 15px;
}

.tarjetas:hover {
    border-radius: 20px;
    box-shadow: 0px 2px 10px #F28379;
    transform: translateY(-5%);
    font-weight: bold;
}

/* centrar bloques con width y/o margin auto */

/* CURSOS DESTACADOS */

#cursos-destacados h2 {
    text-align: center;
    margin: 30px;
    font-size: xx-large;
}

#contenedor-items {
    background-color: antiquewhite;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    background-color: #FCFFE7;
    margin: 30px;
    text-align: center;
    /* width: 300px; */
    border-color: #ccc6c6;
    border-style: outset;
}

.imagen-precio {
    position: relative;
}

.imagen-precio img {
    height: 200px;
    /* padding: 20px 20px 0px; */
    padding: 10px;
    width: 100%;
}


.precio {
    background-color: #000000;
    width: 60px;
    height: 30px;
    color: var(--color-1);
    padding: 5px;
    position: absolute;
    right: 10px;
    bottom: 30px;
}

.descripcion{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.columna-2{
    text-align: end;
}

.medios-de-pago {
    background-color: #FBF9FE;
    width: 100%;
    height: 40%;
    padding: 20px;
    margin: 20px;
}

